
## Export all names
exportPattern(".")

## Export all classes
exportClassPattern(".")

## Import all packages listed as Imports or Depends
import(utils,methods)
importFrom(MASS, lda)
importFrom(ade4, scatter)
importFrom(ape, as.igraph, edges)
importFrom(igraph, E, "E<-", V, "V<-", clusters, graph.data.frame,
           graph.adjacency, layout.fruchterman.reingold)

## Declare S3 methods
S3method(scatter, dapc)
S3method(scatter, glPca)

## Load DLL
useDynLib(adegenet)

